<mat-card>
  <!-- ----------------------------------------------------------------------- -->
  <!--                            Titre de la carte                            -->
  <!-- ----------------------------------------------------------------------- -->
  <mat-card-title data-wow-delay="1s">
    <ng-container *ngIf="estEnModeConnexion; then libelleConnexion; else libelleEnregistrement"></ng-container>
    <ng-template #libelleConnexion>
      <h2>
        {{libelle.connexion}}
      </h2>
    </ng-template>
    <ng-template #libelleEnregistrement>
      <h2>
        {{libelle.enregistrement}}
      </h2>
    </ng-template>
  </mat-card-title>
  <!-- ----------------------------------------------------------------------- -->
  <!--                         Sous titre de la carte                          -->
  <!-- ----------------------------------------------------------------------- -->
  <mat-card-subtitle>
    <h3>
      Veuillez renseigner vos identifiants
    </h3>
  </mat-card-subtitle>
  <!-- ----------------------------------------------------------------------- -->
  <!--                           Entete de la carte                            -->
  <!-- ----------------------------------------------------------------------- -->
  <mat-card-header>
    <h4 *ngIf="estEnModeConnexion"><a>Mot de passe oublié ?</a></h4>
    <h4 *ngIf="!estEnModeConnexion">Merci de votre confiance</h4>
  </mat-card-header>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 Contenu                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <mat-card-content>
    <!-- ----------------------------------------------------------------------- -->
    <!--                               Formulaire                                -->
    <!-- ----------------------------------------------------------------------- -->
    <form class="example-form" #authentification>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>{{libelle.courriel}}</mat-label>
          <input matInput [formControl]="validateurDeFormulaire.courriel" required
            [placeholder]="libelle.courrielPlaceholder" [(ngModel)]="utilisateur.email">
          <mat-icon matSuffix>email &nbsp;</mat-icon>
          <mat-error
            *ngIf="!estEnModeConnexion && validateurDeFormulaire.courriel.hasError('email') && !validateurDeFormulaire.courriel.hasError('required')">
            {{erreur.courrielInvalide}}
          </mat-error>
          <mat-error *ngIf="validateurDeFormulaire.courriel.hasError('required')">
            {{erreur.courrielObligatoire}}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>{{libelle.p455w0rd}}</mat-label>
          <input [hidden]="!masqueP455w0rd" matInput required [formControl]="validateurDeFormulaire.p455w0rd"
            type="password" [placeholder]="libelle.p455w0rdPlaceholder"
            [matTooltip]="estEnModeConnexion ? '' : libelle.p455w0rdTooltip" [(ngModel)]="utilisateur.password"
            matTooltipHideDelay="1000">
          <input *ngIf="!masqueP455w0rd" disabled matInput required [formControl]="validateurDeFormulaire.p455w0rd"
            type="text" [placeholder]="libelle.p455w0rdPlaceholder"
            [matTooltip]="estEnModeConnexion ? '' : libelle.p455w0rdTooltip" [(ngModel)]="utilisateur.password"
            matTooltipHideDelay="1000">
          <span mat-flat-button disabled matSuffix (mouseover)="masqueP455w0rd = false"
            (mouseout)="masqueP455w0rd = true">
            <mat-icon>{{masqueP455w0rd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <mat-error
            *ngIf="!estEnModeConnexion && validateurDeFormulaire.p455w0rd.hasError('pattern') && !validateurDeFormulaire.p455w0rd.hasError('required')">
            {{erreur.p455w0rdInvalide}}
          </mat-error>
          <mat-error *ngIf="validateurDeFormulaire.p455w0rd.hasError('required')">
            {{erreur.p455w0rdObligatoire}}
          </mat-error>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <!-- ----------------------------------------------------------------------- -->
  <!--                          Boutons du formulaire                          -->
  <!-- ----------------------------------------------------------------------- -->
  <mat-card-actions>
    <!-- ----------------- Bascule connexion / enregistrement ------------------ -->
    <button mat-fab color="accent" class="float-left ml-3" (click)="permuteMode()"
      matTooltip="Basculer vers «{{estEnModeConnexion? libelle.enregistrement : libelle.connexion}}»">
      <mat-icon>swap_horizontal_circle</mat-icon>
    </button>
    <!-- ------------------------ Boutons de validation ------------------------ -->
    <button class="float-right mr-3" *ngIf="estEnModeConnexion" mat-fab color="primary" (click)="valider()">
      <mat-icon *ngIf="!statut.chargementEnCours">login</mat-icon>
      <i class="fas fa-spinner fa-spin" *ngIf="statut.chargementEnCours"></i>
    </button>
    <button class="float-right mr-3" *ngIf="!estEnModeConnexion && doitAfficherLeBoutonValider" mat-fab color="primary"
      (click)="valider()">
      <i class="fas fa-spinner fa-spin" *ngIf="statut.chargementEnCours"></i>
      <mat-icon *ngIf="!statut.chargementEnCours">create</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>