<mat-card>
  <mat-card-title>
    {{ estEnModeConnexion ? libelle.connexion : libelle.enregistrement }}

  </mat-card-title>
  <mat-card-subtitle>
  </mat-card-subtitle>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #authentification *ngIf="!statut.chargementEnCours">
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>{{libelle.courriel}}</mat-label>
          <input matInput [formControl]="validateurDeFormulaire.courriel" required
            [placeholder]="libelle.courrielPlaceholder" [(ngModel)]="utilisateur.email">
          <mat-icon matSuffix>email &nbsp;</mat-icon>
          <mat-error
            *ngIf="!estEnModeConnexion && validateurDeFormulaire.courriel.hasError('email') && !validateurDeFormulaire.courriel.hasError('required')">
            {{erreur.courrielInvalide}}
          </mat-error>
          <mat-error *ngIf="validateurDeFormulaire.courriel.hasError('required')">
            {{erreur.courrielObligatoire}}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>{{libelle.p455w0rd}}</mat-label>
          <input [hidden]="!masqueP455w0rd" matInput required [formControl]="validateurDeFormulaire.p455w0rd"
            type="password" [placeholder]="libelle.p455w0rdPlaceholder"
            [matTooltip]="estEnModeConnexion ? '' : libelle.p455w0rdTooltip" [(ngModel)]="utilisateur.password"
            matTooltipHideDelay="1000">
          <input *ngIf="!masqueP455w0rd" disabled matInput required [formControl]="validateurDeFormulaire.p455w0rd"
            type="text" [placeholder]="libelle.p455w0rdPlaceholder"
            [matTooltip]="estEnModeConnexion ? '' : libelle.p455w0rdTooltip" [(ngModel)]="utilisateur.password"
            matTooltipHideDelay="1000">
          <span mat-flat-button disabled matSuffix (mouseover)="masqueP455w0rd = false"
            (mouseout)="masqueP455w0rd = true">
            <mat-icon>{{masqueP455w0rd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <mat-error
            *ngIf="!estEnModeConnexion && validateurDeFormulaire.p455w0rd.hasError('pattern') && !validateurDeFormulaire.p455w0rd.hasError('required')">
            {{erreur.p455w0rdInvalide}}
          </mat-error>
          <mat-error *ngIf="validateurDeFormulaire.p455w0rd.hasError('required')">
            {{erreur.p455w0rdObligatoire}}
          </mat-error>
        </mat-form-field>
      </p>
    </form>

    <span *ngIf="statut.chargementEnCours">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="accent" class="float-left" (click)="permuteMode()"
      matTooltip="Basculer vers «{{estEnModeConnexion? libelle.enregistrement : libelle.connexion}}»">
      <mat-icon>swap_horizontal_circle</mat-icon>
    </button>
    <button class="float-right" *ngIf="estEnModeConnexion && !statut.chargementEnCours" mat-fab color="primary"
      (click)="valider()">
      <mat-icon>login</mat-icon>
    </button>
    <button class="float-right" *ngIf="!estEnModeConnexion && doitAfficherLeBoutonValider && !statut.chargementEnCours"
      mat-fab color="primary" (click)="valider()">
      <mat-icon>create</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>



</mat-card>