<!--Main Navigation-->
<header>

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar aqua-gradient">
    <div class="container">
      <a class="navbar-brand" href="#">
        <strong>MDB</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!-- Intro Section -->
  <div id="animation" class="view jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="mask rgba-indigo-slight">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-3 blue-text mb-5 wow fadeInDown" data-wow-delay="0.3s">Etienne
                <a class="grey-text font-weight-bold">AUDOUIN</a>
              </h1>
              <h5 class="text-uppercase blue-text mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">
                Site de présentation</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>

  <div class="container">

    <!--Section: Team v.1-->
    <section class="text-center team-section">

      <!--Grid row-->
      <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-12 mb-4" style="margin-top: -100px;">

          <router-outlet></router-outlet>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Team v.1-->

  </div>

</main>
<!--Main Layout-->

<!--Footer-->
<footer class="page-footer mdb-color lighten-3 text-center text-md-left">

  <!--Footer Links-->
  <div class="container">

    <!--First row-->
    <div class="row">
      <div class="col-md-12">

        <h5 class="my-5 d-flex justify-content-center">If you want to cooperate with me just send me a message at
          office@mdbootstrap.com</h5>
      </div>
    </div>
  </div>
</footer>