<mat-card>
  <mat-card-title>Component </mat-card-title>
  <mat-card-subtitle> placeholder</mat-card-subtitle>
  <mat-card-header>header</mat-card-header>
  <mat-card-content>lorem-ipsum includes a command line interface (CLI) program for generating passages of lorem ipsum
    text directly from your terminal. This CLI program is compatible with Mac OSX, Windows, and Linux. On Linux you will
    need to install xclip. On Ubuntu: apt-get install xclip.</mat-card-content>
  <mat-card-actions>actions</mat-card-actions>
  <mat-card-footer>footer</mat-card-footer>
</mat-card>